<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @order.completed_date %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @order.credit_card %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @order.billing_address %>
</p>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Book</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each_with_index do |order_item, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td>
          <%= link_to book_path(order_item.book) do%>
            <%= image_tag order_item.book.image.url(:thumb) %>
          <% end %>
          </td>
        <td>
        <td>
          <%= link_to book_path(order_item.book) do%>
            <%= order_item.book %>
          <% end %>
        </td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.price * order_item.quantity %></td>
        <td><%= link_to 'Destroy', order_order_item_path(order_item.order, order_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td><strong>Total:</strong></td>
      <td>
        <strong>
          <%= @order.total_price %>
        </strong>
      </td>
    </tr>

  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
