<h1>Shop</h1>


<% @books.each_with_index do |book, index| %>

  <% if (index+1)%3==0 %>
    <div class="row">
  <% end %>
    <div class="col-md-4 portfolio-item">
        <%= link_to book_path(book) do %>
            <%= image_tag("blank_book.jpg", class: 'img-responsive', alt: 'book.title') %>
        <% end %>
        <h3>
          <%= link_to book_path(book) do %>
            <%= book.title %>
          <% end %>
        </h3>
        <p>
          <strong>$<%= book.price %></strong>
          <!--<%= link_to 'Add to cart', add_to_cart_path(book) %>-->
        </p>
    </div>
  <% if (index+1)%3==0 %>
    </div>
  <% end %>
<% end %>

<br>
<% if false %>
  <%= link_to 'New Book', new_book_path %>
<% end %>
