<!DOCTYPE html>
<html>
<head>
  <title>Amazonchik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '867018333409239',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>  
=======
>>>>>>> 963b3d0a137a96233872bbccbf08bfeb6505206a
  <header class="navbar navbar-default" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<div id="logo" class="navbar-brand">
<<<<<<< HEAD
					<%= link_to "Amazonchik", root_path %>
=======
					<%= link_to t(:store_title), root_path %>
>>>>>>> 963b3d0a137a96233872bbccbf08bfeb6505206a
				</div>
				
		    <ul class="nav nav-pills">
		      <li class="<%= 'active' if current_page?(root_path) %>">
		        <%= link_to t(:home), root_path %>
		      </li>
		      <li class="<%= 'active' if current_page?(books_path) %>"><%= link_to t(:shop), books_path %></li>
		      <li class="<%= 'active' if current_page?(cart_path) %>"><%= link_to t(:cart), cart_path %></li>
		    </ul>
				
				<nav class"collapse navbar-collapse navbar-ex1-collapse">
					<% if user_signed_in? %>
						<ul class="nav navbar-nav navbar-right">
							<% if can? :access, :rails_admin %>
								<li><%= link_to t(:admin_link), rails_admin.dashboard_path %></li>
							<% end %>
							<li><%= link_to t(:user_profile, firstname: current_user.firstname), edit_user_registration_path %></li>
							<li><%= link_to t(:sigh_out), destroy_user_session_path, method: :delete %></li>
						</ul>
					<% else %>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to t(:sign_up), new_user_registration_path %></li>
							<li><%= link_to t(:sign_in), new_user_session_path %></li>
							<li><%= link_to t(:sign_in_fb), user_omniauth_authorize_path(:facebook) %></li>
						</ul>
					<% end %>
				</nav>
			</div>
		</div>
	</header>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>

		<div id="content" class="col-md-12 center-block">

      <%= yield %>
      
		</div>
	</div>

</body>
</html>
